@import "tailwindcss";

.active {
    /* border: 3px solid #222;	
	outline-offset: 0 !important; */
	/* đảm bảo border bên trong, để không làm tăng kích thước của menu Item */
} 

.zoom-on-hover {
	/* overflow: hidden;Ngăn ảnh zoom tràn ra ngoài div */
}

.zoom-on-hover img:hover {
	/* transform: scale(1.1); Phóng to ảnh lên 1.05 lần khi hover */
}	

.heart-button {
    background-color: transparent; /* Trong suốt ban đầu */
    border-radius: 50%; /* Tạo hình tròn */
    padding: 8px; /* Điều chỉnh kích thước vùng hover */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu */
}

.heart-button:hover {
    background-color: black !important;
}

.heart-button:hover .heart-icon {
    color: white !important; /* Ghi đè màu icon khi hover */
}

